Options +MultiViews
DirectoryIndex /instructions

RewriteEngine On
RewriteBase /

ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

RewriteRule ^(grass|snow|workbench)$ /cube?theme=$1 [NC,QSA]